footer{
    text-align: center;
    align-items: center;
    background: #0F056B;
    color: white;
}

.footer__lien{
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.lien__apropos{
    padding-top: 10px;
}

.lien__glossaire{
    padding-top: 10px;
}

.lien__contact{
    padding-top: 10px;
    padding-bottom: 40px;
}

.footer__img{
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    top: -20px;
    flex-shrink: 0; 
    margin-left: 80px;
}

.img__insta{
    margin-left: 50px;
    margin-right: 50px;
}