.main{
    height: 200vh;
    background: linear-gradient(to bottom, #0F056B, #920083);
}

.main__title{
    width: 112px;
    height: 26px;
    flex-shrink: 0; 
    padding-top: 40px;
    margin-left: 160px;
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.main__txt{
    padding-top: 60px;
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.main__txt2{
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

article{
    display: flex;
}

.main__img1{
    margin: 10px;
    padding-top: 20px;
    width: 113px;
    height: 207px;
    flex-shrink: 0;
}

.main__article1{
    margin-top: 30px;
    width: 244px;
    height: 100px;
    flex-shrink: 0; 
    color: #FFF;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.main__img2{
    position: relative;
    left: 240px;
    margin: 10px;
    padding-top: 20px;
    width: 121px;
    height: 207px;
    flex-shrink: 0;
}

.main__article2{
    position: relative;
    right: 130px;
    margin-top: 30px;
    width: 236px;
    height: 198px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

audio{
    margin: 10px;
    width: 320px;
}