main{
    height: 100vh;
    background: linear-gradient(to bottom, #0F056B, #920083);
}

.main__title{
    width: 112px;
    height: 26px;
    flex-shrink: 0; 

    padding-top: 40px;
    margin-left: 160px;
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 26.4px */ 
}

.main__txt{
    padding-top: 60px;
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 16.5px */ 
}

.main__txt2{
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 16.5px */ 
}