.film{
    height: 200vh;
    background-image: url('/public/img/background_purple.jpeg');
    background-size: cover;
}

.rectangle{
    position: relative;
    top: 10px;
    margin-left: 7px;
    width: 370px;
    height: 1660px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.80);
    z-index: 1;
}

.film__title{
    position: relative;
    margin-top: -1650px;
    width: 149px;
    height: 26px;
    flex-shrink: 0; 
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-top: 25px;
    margin-left: 135px;
    z-index: 2;
}

.film__txt{
    position: relative;
    margin-bottom: -1950px;
    margin-left: 20px;
    max-width: 350px;
    color: #000;
    font-family: Mincho regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    z-index: 3;
}

.film__txt__title{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    color: #000;
    font-family: Mincho regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.film__img1{
    margin: 28px;
    width: 288px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 15px; 
}

.film__img2{
    margin-left: 28px;
    width: 132px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 15px; 
}

.film__img3{
    margin-left: 22px;
    width: 132px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 15px; 
}

.visu{
    display: flex;
}

.film__img4{
    margin: 15px;
    margin-top: 30px;
    width: 313px;
    height: 176px;
    flex-shrink: 0;
}

.button{
    margin: 30px;
}

.button1{
    margin-right: 160px;
}