form {
    max-width: 400px;
    margin: 30px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: #333;
}

input[type="submit"] {
    background-color: #840080;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #840080;
}

.contact{
    background-image: url('/public/img/background_purple.jpeg');
    background-size: cover;
    height: 100vh;
}

.contact__title{
    margin-top: 25px;
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
}

.contact__txt{
    margin: 25px;
    color: #FFF;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}