.glossaire{
    background-image: url('/public/img/background_purple.jpeg');
    background-size: cover;
    height: 100vh;
}

.glossaire__title{
    padding-top: 142px;
    padding-bottom: 20px;
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
}

.glossaire__txt{
    margin: 25px;
    color: #FFF;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.glossaire__espace{
    margin-top: 91px;
}