@font-face {
    font-family: 'Mincho';
    src: url('/src/fonts/Shippori_Mincho/ShipporiMincho-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mincho regular';
    src: url('/src/fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('/src/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url('/src/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
}